p{
}
.tab{
  font-weight: bold;
}
.title{
  font-style: normal;
  font-size: 30px;
}
.header{
  font-weight: bold;
  font-size: 40px;
  margin-top: 25px;
}
<<<<<<< HEAD

.ryans{
  font-size: 23px;
  font-weight: bold;
}
=======
.analysis{
  font-size: 20px;
}
>>>>>>> da65580a7ae77291641aa61d5c71df2f01d604fa
